header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 120px 120px 60px 120px;
    background-color: #141D2F; /* Overwrites HTML-bg */

    @media (max-width: 1400px) {
      padding: 120px 80px 100px 80px;
    }

    @media (max-width: 1200px) {
      padding: 120px 50px 80px 50px;
    }

    @media (max-width: 600px) {
      padding: 120px 25px 60px 25px;
    }

    button {
      width: 160px;
      margin-top: 30px;
      transition: all 225ms ease-in-out;

      &:hover {
        background-color: #4B47FF;
        transform: scale(1.2);
      }
    }
}

.header-content {
  /*padding: 120px 120px 60px 120px;*/
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    /*padding: 100px 50px 60px 50px;*/
  }
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  width: 100%;

  @media (max-width: 800px) {
    padding: 20px;
  }
}

.table {
  width: calc(80% - 20px); /* 50% (2 columns) - gap */
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

.title-rotate {
    transform: rotate(-90deg);
    color:rgba(255, 255, 255, 0.8);
    font-size: clamp(1.78125rem, 0.3272rem + 6.6471vw, 5.3125rem); /* 85px @1200 - 28.5px @350 */
    font-weight: 400;
    white-space: nowrap;
    line-height: 1;
  }


.title-name {
    color:rgba(255, 255, 255, 0.8);
    font-size: 114px;
    font-weight: 700;
    font-size: clamp(2.375rem, 0.4191rem + 8.9412vw, 7.125rem); /* 114px @1200 - 38px @350 */
    white-space: nowrap;
    line-height: 1.2;
}

.title-job {
    color: #4B47FF;
    font-size: 64px;
    font-size: clamp(1.3125rem, 0.2059rem + 5.0588vw, 4rem); /* 64px @1200 - 21px @350 */
    font-weight: 400;
    white-space: nowrap;
}

.title-btn {
    width: 165px;
    height: 58px;
}

.header-social {
  width: 180px;
  display: flex;
  justify-content: space-between;
  padding: 0px 0px 0px 120px;

  img {
      height: 35px;
      width: 35px;
      transition: all 225ms ease-in-out;

      @media (max-width: 800px) {
          height: 30px;
          width: 30px;
      }

      &:hover {
        transform: scale(1.2);
      }
  }

  @media (max-width: 1400px) {
    padding: 0px 0px 0px 80px;
  }

  @media (max-width: 1200px) {
    padding: 0px 0px 0px 50px;
  }

  @media (max-width: 600px) {
    padding: 0px 0px 0px 25px;
  }
}

.bg-social {
  background-color: #141D2F; /* Overwrites HTML-bg */
  position: relative;
}

.header-scroll {
  transform: rotate(+90deg);
  position: absolute;
  right: 0;
  top: -35px;
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: white;
  font-weight: 500;

  img {
    transform: rotate(-90deg);
  }

  @media (max-width: 930px) {
    display: none;
  }
}
