<header id="header" class="header-content">
  <div class="header-container">
    <table>
      <tr class="abc">
        <td class="title-rotate" rowspan="2">
          I am
        </td>
        <td class="title-name">
          Pat Kieber
        </td>
      </tr>
      <tr class="def">
        <td class="title-job">
          Frontend Developer
        </td>
      </tr>
    </table>
  </div>
  <img class="bg-header" src="assets/bg/shadow-header.png">
  <a href="#contact"><button #letsTalk>Let's talk!</button></a>
<div  class="bg-social">
  <div class="scroll-down-container">
    <a href="#about" class="scroll-down">Scroll down</a>
    <a href="#about" class="arrow-down"><img src="assets/icon/arrow-down.png"></a>
  </div>
  <div class="header-social">
    <a href="https://github.com/pkieber" target="_blank"><img src="assets/icon/github-btn.png"></a>
    <a href="mailto:kieberp@yahoo.com" target="_blank"><img src="assets/icon/email-btn.png"></a>
    <a href="https://linkedin.com/in/pkieber" target="_blank"><img src="assets/icon/linkedin-btn.png"></a>
  </div>
</div>
</header>
