header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding: 60px 120px 60px 120px;
    background-color: #141D2F; /* Overwrites HTML-bg */

    @media (max-width: 930px) {
      padding: 60px 50px 60px 50px;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;

        &:hover {
            color: rgba(255, 255, 255, 0.8)
        }
    }

    img {
        height: 30px;
        cursor: pointer;
    }

    h1 {
        margin: 0;
    }

    h2 {
        margin: 0;
    }
}

.header-container {
    padding: 80px;
}

table {
}

.title-rotate {
    transform: rotate(-90deg);
    color:rgba(255, 255, 255, 0.8);
    font-size: 85px;
    font-weight: 400;
    white-space: nowrap; /* prevent the text from wrapping */
    line-height: 1; /* set the line spacing to the minimum value */
}


.title-name {
    color:rgba(255, 255, 255, 0.8);
    font-size: 114px;
    font-weight: 700;
    white-space: nowrap; /* prevent the text from wrapping */
    line-height: 1.2; /* set the line spacing to the minimum value */
}

.title-job {
    color: #4B47FF;
    font-size: 64px;
    font-weight: 400;
    white-space: nowrap; /* prevent the text from wrapping */
}

.title-btn {
    width: 165px;
    height: 58px;
}
