header {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    padding-inline: clamp(1.5625rem, -1.0156rem + 6.875vw, 5rem); /* 80px @1400 + 25px @350 - padding-left+right */
    padding-top: 120px;
    padding-bottom: 60px;

    @media (max-width: 1400px) {
      padding-bottom: 100px;
    }

    @media (max-width: 1200px) {
      padding-bottom: 80px;
    }

    @media (max-width: 600px) {
      padding-bottom: 60px;
      gap: 50px;
    }

    a {
      z-index: 2; /* button-container*/
    }

    button {
      width: 160px;
      margin-top: 30px;
      transition: all 225ms ease-in-out;

      @media (max-width: 600px) {
        width: 140px;
      }

      &:hover {
        background-color: var(--purple);
        transform: scale(1.2);

        @media (max-width: 500px) {
          transform: scale(1.1);
        }
      }
    }
}

.bg-header {
  width: 100%;
  position: absolute;
  top: 5%;
  z-index: 1;

  @media (max-width: 600px) {
    height: 400px;
  }
}

.header-content {
  /*padding: 120px 120px 60px 120px;*/
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1000px) {
    /*padding: 100px 50px 60px 50px;*/
  }
}

.header-container {
  display: flex;
  justify-content: center;
  padding: 80px;
  width: 100%;
  z-index: 2;

  @media (max-width: 800px) {
    padding: 20px;
  }
}

.table {
  width: calc(80% - 20px); /* 50% (2 columns) - gap */
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

.title-rotate {
    transform: rotate(-90deg);
    color:rgba(255, 255, 255, 0.8);
    font-size: clamp(1.78125rem, 0.3272rem + 6.6471vw, 5.3125rem); /* 85px @1200 - 28.5px @350 */
    font-weight: 400;
    white-space: nowrap;
    line-height: 1;
  }


.title-name {
    color:rgba(255, 255, 255, 0.8);
    font-size: 114px;
    font-weight: 700;
    font-size: clamp(2.375rem, 0.4191rem + 8.9412vw, 7.125rem); /* 114px @1200 - 38px @350 */
    white-space: nowrap;
    line-height: 1.2;
}

.title-job {
    color: var(--purple);
    font-size: 64px;
    font-size: clamp(1.3125rem, 0.2059rem + 5.0588vw, 4rem); /* 64px @1200 - 21px @350 */
    font-weight: 400;
    white-space: nowrap;
}

.title-btn {
    width: 165px;
    height: 58px;
}

.header-social {
  width: 180px;
  display: flex;
  justify-content: space-between;
  padding-left: clamp(5.3125rem, 0.8594rem + 11.875vw, 11.25rem);
  position: relative;
  display: flex;
  align-items: center;

  img {
      height: 35px;
      width: 35px;
      transition: all 225ms ease-in-out;

      @media (max-width: 800px) {
          height: 30px;
          width: 30px;
      }

      &:hover {
        transform: scale(1.2);
      }
  }
}

.header-social:before {
  content: "";
  height: 6px;
  width: clamp(3.75rem, 2.7083rem + 4.7619vw, 6.875rem); /* 110px @1400 + 60px @350px */
  background: var(--lightBlue);
  position: absolute;
  left: 0; /* adapt to margin-left */
  top: 50%;
  transform: translateY(-50%);
}

.bg-social {
  position: relative;
  z-index: 2;
  margin-top: 140px;
  width: 100vw;
}

.scroll-down-container {
  position: absolute;
  right: 0;
  top: -50px;
  padding-right: clamp(1.25rem, -1.2234rem + 4.2553vw, 2.5rem); /* 40px @1400 + 20px @930 */
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  @media (max-width: 930px) {
    display: none;
  }
}

.scroll-down {
  transform: rotate(+90deg);
  text-decoration: none;
  color: var(--grey);
  font-weight: 500;
}

.arrow-down {
  animation: jumpInfinite 1.5s infinite;
}

@keyframes jumpInfinite {
  0% {
      margin-top: 0;
  }
  50% {
      margin-top: 10px;
  }
  100% {
      margin-top: 0;
  }
}
