<footer>
    <div class="footer-container">
        <div class="footer-legal">
            <img routerLink="/" src="assets/img/logo.png">
        </div>
        <div class="footer-copyright">
            <p>© Pat Kieber 2023</p>
        </div>
        <div class="footer-social">
            <a href="https://github.com/pkieber" target="_blank"><img src="assets/icon/github-btn.png"></a>
            <a href="mailto:kieberp@yahoo.com" target="_blank"><img src="assets/icon/email-btn.png"></a>
            <a href="https://linkedin.com/in/pkieber" target="_blank"><img src="assets/icon/linkedin-btn.png"></a>
        </div>
    </div>
    <p routerLink="/imprint" class="footer-imprint">Imprint</p>
</footer>
