footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 80px;
    border-top: 4px solid #1CE6B6;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;

    @media (max-width: 1400px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (max-width: 1200px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 930px) {
      flex-direction: column;
    }

    @media (max-width: 600px) {
      padding-left: 25px;
      padding-right: 25px;
    }

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;

        &:hover {
            color: rgba(255, 255, 255, 0.8)
        }
    }

    img {
        height: 30px;
        cursor: pointer;
    }
}

a {
    color: white;
    text-decoration: none;
    margin-left: 32px;
    font-weight: 500;

    &:hover {
        color: rgba(255, 255, 255, 0.8)
    }
}

.footer-legal {
    font-size: 16px;
    font-weight: 400;

    img {
        height: 40px;

        @media (max-width: 930px) {
          height: 25px;
        }
    }
}

.footer-copyright {
    font-size: 23px;
    font-weight: 400;
}

.footer-social {
    width: 180px;
    display: flex;
    justify-content: space-between;

    img {
        height: 35px;
        width: 35px;
        transition: all 225ms ease-in-out;

        @media (max-width: 800px) {
          height: 30px;
          width: 30px;
      }

      &:hover {
        transform: scale(1.2);
      }
    }
}

.imprint {
    padding-left: 120px;
    padding-right: 120px;
    margin-block-start: 0;
    transition: all 225ms ease-in-out;
    cursor: pointer;

    &:hover {
      filter: brightness(0.8);
    }

    @media (max-width: 1400px) {
      padding-left: 80px;
      padding-right: 80px;
    }

    @media (max-width: 1200px) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: 930px) {
      display: flex;
      justify-content: center;
      margin: 25px;
    }

    @media (max-width: 600px) {
      padding-left: 25px;
      padding-right: 25px;
    }
}
