<section id="about" class="about-content">
  <div class="about-container">
    <div class="about-box">
      <div class="about-left-box">
        <h2>About Me</h2>
        <p>Hi, I am a Front-end developer based in the DACH region.</p>
        <div class="about-infos">
          <img class="about-icons" src="assets/icon/bulb.png">
          <p>Although I have a management background and experience in different industries, writing code is my passion.</p>
        </div>
        <div class="about-infos">
          <img class="about-icons" src="assets/icon/puzzle.png">
          <p>I have been working for big companies in the financial industry.</p>
        </div>
      </div>
    </div>
    <div class="about-box">
      <div class="about-right-box">
        <img class="about-profile bg-shape-mobile" title="PK" src="assets/img/profile.png">
      </div>
    </div>
    <div class="bg-about">
      <img class="bg-about-blue" src="assets/bg/shadow-about.png">
    </div>
    <img class="bg-shape" src="assets/bg/shape-header.png">
  </div>
</section>
