.about-content {
  padding: 60px 120px 60px 120px;
  width: 100%;
  box-sizing: border-box;
  background-color: #141D2F; /* Overwrites HTML-bg */

  @media (max-width: 1400px) {
    padding: 60px 80px 60px 80px;
  }

  @media (max-width: 1200px) {
    padding: 60px 50px 60px 50px;
  }

  @media (max-width: 600px) {
    padding: 60px 25px 60px 25px;
  }
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  margin: 0;
  white-space: nowrap;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  @media (max-width: 800px) {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
  }
}

.about-box {
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

.about-left-box {
  width: 100%;
}

.about-infos {
  display: flex;
  align-items: center;
  gap: 40px;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

/*
.shape {
  z-index: 1;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  top: 780px;
}
*/
