<section id="about" class="about-content">
  <div class="about-container">
    <div class="about-box">
      <div class="about-left-box">
        <h2>About Me</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsa repudiandae sit aliquam enim illo porro aliquid, aut optio ut temporibus sapiente, nesciunt incidunt pariatur laboriosam dolor, fuga neque architecto repellat.</p>
        <div class="about-infos">
          <img class="about-icons" src="assets/icon/bulb.png">
          <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia tempora obcaecati voluptatem reiciendis corrupti aperiam error dignissimos, sunt, optio ducimus, omnis blanditiis cumque provident neque ipsa accusantium! Itaque, odit minus.</p>
        </div>
        <div class="about-infos">
          <img class="about-icons" src="assets/icon/puzzle.png">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur doloribus modi sed, corporis repellendus autem dignissimos similique? Ullam, fugiat. Excepturi, doloribus libero consequatur assumenda voluptatem et! Porro illum nisi error!</p>
        </div>
      </div>
    </div>
    <div class="about-box">
      <div class="about-right-box">
        <img class="about-profile" title="PK" src="assets/img/profile.png">
      </div>
    </div>
    <div class="bg-about">
      <img class="bg-about-blue" src="assets/bg/blue-shadow-about.png">
      <img class="bg-about-green" src="assets/bg/green-shadow-about.png">
    </div>

    <!--<img class="bg-shape" src="assets/img/shape-header.png">-->

  </div>
</section>
