.about-content {
  width: 100%;
  box-sizing: border-box;
  padding-inline: clamp(1.5625rem, -1.0156rem + 6.875vw, 5rem); /* 80px @1400 + 25px @350 - padding-left + padding-right */
  padding-top: 120px;
  padding-bottom: 60px;

  @media (max-width: 1400px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  margin: 0;
  white-space: nowrap;
}

.about-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;

  @media (max-width: 800px) {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
  }
}

.about-box {
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

.about-left-box {
  width: 100%;
}

.about-infos {
  display: flex;
  align-items: center;
  gap: 40px;
}

img {
  display: block; /* remove extra space below image */
  z-index: 2;
}

.about-profile {
  height: clamp(25rem, 19.7917rem + 23.8095vw, 40.625rem);
}

.bg-about {
  display: flex;
  position: absolute;
  right: -250px;
  overflow-x: hidden;
  z-index: 1;

  @media (max-width: 800px) {
    margin-bottom: 400px;
    margin-right: 400px;
  }

  @media (max-width: 600px) {
    margin-bottom: 600px;
    margin-right: 500px;
  }
}

.bg-shape {
  display: none;

  @media (max-width: 1600px) {
    display: unset;
    position: absolute;
    z-index: 3;
    width: 110%;
    overflow-x: hidden;
    margin-left: -150px;
    margin-top: clamp(13.75rem, 18.136rem + -8.761vw, 9.375rem); /* 150px @1600 + 220px @801 */
  }

  @media (max-width: 1500px) {
    width: 120%;
  }

  @media (max-width: 1300px) {
    width: 130%;
  }

  @media (max-width: 1000px) {
    width: 140%;
  }

  @media (max-width: 800px) {
    display: none;
  }
}
