<section class="about-container">
    <div class="about-left">
        <h2>About Me</h2>
        <p>I am a front-end developer with experience in building web apps using JavaScript and Angular.</p>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostrum libero, ducimus fugiat quod quas beatae praesentium unde possimus esse rem delectus odit similique inventore nisi sint impedit reiciendis aliquid.</p>
            <img class="about-icons" src="assets/icon/bulb.png">
        </div>
        <div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio nostrum libero, ducimus fugiat quod quas beatae praesentium unde possimus esse rem delectus odit similique inventore nisi sint impedit reiciendis aliquid.</p>
            <img class="about-icons" src="assets/icon/puzzle.png">
        </div>
    </div>
    <div class="about-right">
        <img class="about-profile" title="PK" src="assets/img/profile.png">
    </div>
</section>