.project-content {
  width: 100%;
  box-sizing: border-box;
  padding-inline: clamp(1.5625rem, -1.0156rem + 6.875vw, 5rem); /* 80px @1400 + 25px @350 - padding-left+right */
  padding-top: 120px;
  padding-bottom: 60px;

  @media (max-width: 1400px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.portfolio-intro {
  z-index: 4;
  position: relative;
  margin-bottom: 40px;
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
  z-index: 4;
  margin-top: 0;
}

h2:before {
  content: "";
  height: 6px;
  width: clamp(5.625rem, 5.8333rem + -0.9524vw, 5rem); /* 80px @1400 + 90px @350px */
  background: var(--purple);
  position: absolute;
  left: -100px; /* adapt to margin-left */
  overflow-x: hidden;
  top: 50%;
  transform: translateY(-50%);
}

.bg-projects-right {
  position: absolute;
  height: 700px;
  right: 0;
  margin-top: -300px;
  overflow-x: hidden;

  @media (max-width: 800px) {
    height: 500px;
  }

  @media (max-width: 400px) {
    height: 400px;
  }
}



.bg-projects-left {
  position: absolute;
  height: 700px;
  left: 0;
  margin-top: 200px;
  overflow-x: hidden;

  @media (max-width: 800px) {
    height: 500px;
  }

  @media (max-width: 400px) {
    height: 400px;
  }
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;

  @media (max-width: 800px) {
    justify-content: center;
    gap: 80px;
  }
}

.project-box {
  position: relative;
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  background: var(--darkBlue);
  border: 1px solid var(--lightBlue);
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 225ms ease-in-out;
  overflow: hidden;
  cursor: pointer;

  img {
    max-width: 100%;
    max-height: 100%;
    display: block; /* remove extra space below image */
    transition: all 225ms ease-in-out;
  }

  @media (max-width: 800px) {
    width: calc(100%);
  }

  &:hover {
    .hidden-info {
      display: flex;
    }

    img {
      transform: scale(1.8) translateY(-80px);
      filter: brightness(0.3);
    }
  }
}


.project-info-container {
  position: absolute;
  width: calc(100% - 30px);
  bottom: 0;
  height: 50%;
  padding: 20px 15px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--grey);
  color: black;
  gap: 10px;
  z-index: 10; /* popup */

  @media (max-width: 400px) {
    height: 55%;
  }
}

h3 {
  margin: 0;
}

.project-btn-container {
  display: flex;
  position: absolute;
  top: 15%;
  justify-content: center;
  align-items: center;
  z-index: 10; /* popup */
  gap: 20px;

    @media (max-width: 400px) {
      top: 10%;
    }

  .btn-github {
    width: 140px;
    transition: all 225ms ease-in-out;
    background-color: transparent;
    border: 1px solid var(--lightBlue);

    @media (max-width: 400px) {
      width: 110px;
    }

    &:hover {
      background-color: var(--green);
      border: 1px solid var(--green);
      transform: scale(1.2);

      @media (max-width: 500px) {
        transform: scale(1.1);
      }
    }
  }

  .btn-test {
    width: 150px;
    background-color: var(--purple);
    border: 1px solid var(--purple);
    transition: all 225ms ease-in-out;

    @media (max-width: 400px) {
      width: 120px;
    }

    &:hover {
      background-color: var(--lightBlue);
      border: 1px solid var(--lightBlue);
      transform: scale(1.2);

      @media (max-width: 500px) {
        transform: scale(1.1);
      }
    }
  }
}

.project-title {
  color: #4B47FF;
  font-size: 25px;

  @media (max-width: 400px) {
    font-size: 20px;
  }
}

.project-intro {
  font-size: 20px;

  @media (max-width: 1200px) {
    font-size: 18px;
    margin: 0;
  }

  @media (max-width: 900px) {
    font-size: 16px;
  }

  @media (max-width: 800px) {
    margin: 30px;
  }

  @media (max-width: 500px) {
    margin: 0;
  }

  @media (max-width: 400px) {
    font-size: 16px;
  }
}

.project-info {
  color: var(--lightBlue);
  font-size: 20px;
  margin: 0;

  @media (max-width: 1200px) {
    font-size: 18px;
  }

  @media (max-width: 900px) {
    font-size: 17px;
  }

  @media (max-width: 400px) {
    font-size: 17px;
  }
}

.hidden-info {
  display: none;
}
