.projects-container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}

h2 {
    font-size: 90px;
}

.project {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.img-container {
    padding: 10px;
    margin: 10px;

    img {
        width: 550px;
        height: auto;
        padding: 30px;
    }
}