<section id="projects" class="projects-container">
    <h2>Portfolio</h2>
    <p>Please find below some of my work. Feel free to try them out.</p>
    <div class="project">
        <div class="img-container">
            <img src="assets/img/project-polloloco.png">
        </div>
        <div class="img-container">
            <img src="assets/img/project-kanban.png">
        </div>
    </div>
    <div class="project">
        <div class="img-container">
            <img src="assets/img/project-crm.png">
        </div>
        <div class="img-container">
            <img src="assets/img/project-pokedex.png">
        </div>
    </div>
</section>