.project-content {
  padding: 60px 120px 60px 120px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1400px) {
    padding: 60px 80px 60px 80px;
  }

  @media (max-width: 1200px) {
    padding: 60px 50px 60px 50px;
  }

  @media (max-width: 600px) {
    padding: 60px 25px 60px 25px;
  }
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  margin: 0;
  white-space: nowrap;
}

.project-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 800px) {
    justify-content: center;
    gap: 80px;
  }
}

.project-box {
  position: relative;
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  border: 1px solid #00BEE8;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    width: calc(100%);
  }

  &:hover {
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */

  &:hover {

  }
}

.project-info-container {
  position: absolute;
  bottom: 0;
  height: 40%;
  padding: 30px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: black;
}

.project-btn-container {
  display: flex;
  position: absolute;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;

  .btn-github {
    width: 140px;
    transition: all 225ms ease-in-out;
    background-color: transparent;
    border: 1px solid #00BEE8;

    &:hover {
      background-color: #1CE6B6;
      border: 1px solid #1CE6B6;
      transform: scale(1.2);
    }
  }

  .btn-test {
    width: 150px;
    background-color: #4B47FF;
    border: 1px solid #4B47FF;
    transition: all 225ms ease-in-out;

    &:hover {
      background-color: #00BEE8;
      border: 1px solid #00BEE8;
      transform: scale(1.2);
    }
  }
}

.project-title {
  color: #4B47FF;
  font-size: 25px;
}

.project-intro {
  font-size: 20px;
}

.project-info {
  color: #00BEE8;
  font-size: 20px;
}


