<section id="projects" class="project-content">
    <h2>Portfolio</h2>
    <p>Please find below some of my work. Feel free to try them out.</p>

    <div class="project-container">
      <div class="project-box">
        <img src="assets/img/project-polloloco.png">
      </div>
      <div class="project-box">
        <img src="assets/img/project-kanban.png">
      </div>
      <div class="project-box">
        <img src="assets/img/project-crm.png">
      </div>
      <div class="project-box">
        <img src="assets/img/project-pokedex.png">
      </div>
    </div>

</section>
