<section id="projects" class="project-content">
    <h2>Portfolio</h2>
    <img class="bg-projects-right" src="assets/bg/green-shadow-project.png">
    <img class="bg-projects-left" src="assets/bg/blue-shadow-project.png">
    <p>Please find below some of my work. Feel free to try them out.</p>
    <div class="project-container">
      <div class="project-box">
        <div class="project-btn-container hidden-info">
          <button class="btn-github">Github</button>
          <button class="btn-test">Live test</button>
        </div>
        <div class="project-info-container hidden-info">
          <h3 class="project-title">Project Name</h3>
          <p class="project-intro">This project is made with ... It is based on object-oriented approach.</p>
          <p class="project-info">JavaScript | HTML | CSS</p>
        </div>
        <img src="assets/img/project-polloloco.png">
      </div>

      <div class="project-box">
        <div class="project-btn-container hidden-info">
          <button class="btn-github">Github</button>
          <button class="btn-test">Live test</button>
        </div>
        <div class="project-info-container hidden-info">
          <h3 class="project-title">Project Name</h3>
          <p class="project-intro">This project is made with ... It is based on object-oriented approach.</p>
          <p class="project-info">JavaScript | HTML | CSS</p>
        </div>
        <img src="assets/img/project-crm.png">
      </div>

      <div class="project-box">
        <div class="project-btn-container hidden-info">
          <button class="btn-github">Github</button>
          <button class="btn-test">Live test</button>
        </div>
        <div class="project-info-container hidden-info">
          <h3 class="project-title">Project Name</h3>
          <p class="project-intro">This project is made with ... It is based on object-oriented approach.</p>
          <p class="project-info">JavaScript | HTML | CSS</p>
        </div>
        <img src="assets/img/project-kanban.png">
      </div>

      <div class="project-box">
        <div class="project-btn-container hidden-info">
          <button class="btn-github">Github</button>
          <button class="btn-test">Live test</button>
        </div>
        <div class="project-info-container hidden-info">
          <h3 class="project-title">Project Name</h3>
          <p class="project-intro">This project is made with ... It is based on object-oriented approach.</p>
          <p class="project-info">JavaScript | HTML | CSS</p>
        </div>
        <img src="assets/img/project-pokedex.png">
      </div>

    </div>

</section>
