<section id="contact" class="contact-content">
  <h2 class="contact-title">Contact</h2>
  <div class="contact-container">
    <div class="contact-box">
      <div class="contact-left-box">
        <h3>Got a problem to solve?</h3>
        <p>I am open for new challenges and eager to contribute to the success of your projects. Just get in touch with me!</p>
        <p>Btw, I do not offer a bug bounty program, but I'm always happy to receive some feedback nevertheless.</p>
      </div>
    </div>
    <div class="contact-box">
        <form class="contact-right-box" (submit)="sendMail()" ngNativeValidate #myForm>
          <input required type="text" name="name" placeholder="Your name"
              [class.redborder-error]="noName" (invalid)="emptyNameField()" (input)="noName=false" #nameField>
              <span *ngIf="noName">Your name is required.</span>
          <input required type="email" name="email" placeholder="Your email"
              [class.redborder-error]="noEmail" (invalid)="emptyEmailField()" (input)="noEmail=false" #emailField>
              <span *ngIf="noEmail">Your email is required.</span>
          <textarea required type="text" name="message" placeholder="Your message"
              [class.redborder-error]="noMessage" (invalid)="emptyMessageField()" (input)="noMessage=false" #messageField></textarea>
              <span *ngIf="noMessage">Your message is empty.</span>
          <button [disabled]="messageSent" #sendButton>
            {{ messageSent ? 'Message sent' : 'Send message :)' }}
          </button>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
          <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>
          <img class="bg-contact" src="assets/bg/shadow-footer.png">
        </form>
    </div>
  </div>
  <a href="#header" class="contact-scroll"> <span class="arrow-up"></span> </a>
</section>
