<section id="contact" class="contact-content">
  <h2 class="contact-title">Contact</h2>
  <div class="contact-container">
    <div class="contact-box">
      <div class="contact-left-box">
        <p>Need a Frontend developer? Contact me!</p>
      </div>
    </div>
    <div class="contact-box">
        <form class="contact-right-box" (submit)="sendMail()" ngNativeValidate #myForm>
          <input required type="text" name="name" placeholder="Your name" #nameField>
          <input required type="email" name="email" placeholder="Your email" #emailField>
          <textarea required type="text" name="message" placeholder="Your message" #messageField></textarea>
          <button #sendButton>Send message</button>
          <img class="bg-contact" src="assets/bg/shadow-footer.png">
        </form>
    </div>
  </div>
  <a href="#header" class="contact-scroll"> <span class="arrow-up"></span> </a>
</section>
