.contact-content {
  padding: 60px 120px 60px 120px;
  width: 100%;
  box-sizing: border-box;

  @media (max-width: 1400px) {
    padding: 60px 80px 60px 80px;
  }

  @media (max-width: 1200px) {
    padding: 60px 50px 60px 50px;
  }

  @media (max-width: 600px) {
    padding: 60px 25px 60px 25px;
  }
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  margin: 0;
  white-space: nowrap;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 800px) {
    justify-content: center;
    display: flex;
    gap: 80px;
  }
}

.contact-box {
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  display: flex;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

input, textarea {
  width: calc(100% - 20px);
  background-color: #1e2b45;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid #4B47FF;
  outline: none;
  transition: all 225ms ease-in-out;
  cursor: pointer;
  color: white !important;

  &:hover {
    border: 2px solid #1CE6B6;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

textarea {
  height: 100px;
}

button {
  width: 220px;
  margin-top: 30px;
  transition: all 225ms ease-in-out;

  &:hover {
    background-color: #4B47FF;
    transform: scale(1.2);
  }
}

.contact-scroll {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  text-decoration: none;

  @media (max-width: 800px) {
    margin-top: 80px;
  }
}

.arrow-up {
  display: inline;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icon/arrow-up.png');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  padding: 10px;
  border: 2px solid white;
  border-radius: 100%;
  transition: all 225ms ease-in-out;
}

.arrow-up:hover {
  background-image: url('../../assets/icon/arrow-up-hover.png');
  border: 2px solid #00BEE8;
}
