.contact-content {
  width: 100%;
  box-sizing: border-box;
  padding-inline: clamp(1.5625rem, -1.0156rem + 6.875vw, 5rem); /* 80px @1400 + 25px @350 - padding-left + padding-right */
  padding-top: 120px;
  padding-bottom: 60px;

  @media (max-width: 1400px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.contact-title {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
  margin-bottom: 40px;
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  margin: 0;
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

h2:after {
  content: "";
  height: 6px;
  width: clamp(8.125rem, 0.2083rem + 36.1905vw, 31.875rem); /* 510px @1400 + 130px @350 */
  background:  var(--lightBlue);
  position: absolute;
  right: -100px; /* adapt to margin-right */
  overflow-x: hidden;
  top: 50%;
  transform: translateY(-50%);
}

h3 {
  font-size: 32px;
}

.contact-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 800px) {
    justify-content: center;
    display: flex;
    gap: 80px;
  }
}

.contact-box {
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  display: flex;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

input, textarea {
  width: calc(100% - 20px);
  background-color: #1e2b45;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid var(--purple);
  outline: none;
  transition: all 225ms ease-in-out;
  cursor: pointer;
  color: white !important;

  &:hover {
    border: 2px solid #1CE6B6;
  }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
}

textarea {
  height: 100px;
}

button {
  width: 220px;
  margin-top: 30px;
  transition: all 225ms ease-in-out;

  @media (max-width: 400px) {
    width: 190px;
  }

  &:hover {
    background-color: var(--purple);
    transform: scale(1.2);

    @media (max-width: 500px) {
      transform: scale(1.1);
    }
  }
}

.bg-contact {
  position: absolute;
  bottom: 100px;
  bottom: -150px;
  right: -130px;
  overflow-x: hidden;
  z-index: -1;
  width: 100%;

  @media (max-width: 800px) {
    bottom: -190px;
  }

  @media (max-width: 600px) {
    bottom: -185px;
  }
}

.contact-scroll {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
  text-decoration: none;

  @media (max-width: 800px) {
    margin-top: 80px;
  }
}

.arrow-up {
  display: inline;
  width: 20px;
  height: 20px;
  background-image: url('../../assets/icon/arrow-up.png');
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: content-box;
  padding: 10px;
  border: 2px solid var(--grey);
  border-radius: 100%;
  transition: all 225ms ease-in-out;
}

.arrow-up:hover {
  background-image: url('../../assets/icon/arrow-up-hover.png');
  border: 2px solid var(--lightBlue);
}
