<section id="skills" class="skills-content">
  <div class="skills-container">
    <div class="skills-box">
      <div class="skills-left-box">
        <img class="icon1" title="Angular" src="assets/img/angular.png">
        <img class="icon2" title="CSS" src="assets/img/css.png">
        <img class="icon3" title="Firebase" src="assets/img/firebase.png">
        <img class="icon4" title="Git" src="assets/img/git.png">
        <img class="icon5" title="HTML" src="assets/img/html.png">
        <img class="icon6" title="JavaScript" src="assets/img/javascript.png">
        <img class="icon7" title="Material Design" src="assets/img/material.png">
        <img class="icon8" title="Rest-API" src="assets/img/rest-api.png">
        <img class="icon9" title="SCRUM" src="assets/img/scrum.png">
        <img class="icon10" title="TypeScript" src="assets/img/typescript.png">
      </div>
    </div>
    <div class="skills-box">
      <div class="skills-right-box">
        <h2>My Skills</h2>
        <p>Have a look at my coding skills. I have already used different technologies and libraries as you can see here, but I'm looking forward to learning even more as I progress along the way.</p>
        <a href="#contact"><button #getInTouch>Get in touch</button></a>
      </div>
    </div>
  </div>
</section>
