<section class="skills-container">
    <div class="skills-left">
        <div class="first-row-img">
            <img title="Angular" src="assets/img/angular.png">
            <img title="CSS" src="assets/img/css.png">
            <img title="Firebase" src="assets/img/firebase.png">
            <img title="Git" src="assets/img/git.png">
        </div>
        <div class="second-row-img">
            <img title="HTML" src="assets/img/html.png">
            <img title="JavaScript" src="assets/img/javascript.png">
            <img title="Material Design" src="assets/img/material.png">
        </div>
        <div class="third-row-img">
            <img title="Rest-API" src="assets/img/rest-api.png">
            <img title="SCRUM" src="assets/img/scrum.png">
        </div>
        <div class="fourth-row-img">
            <img title="TypeScript" src="assets/img/typescript.png">
        </div>
    </div>
    <div class="skills-right">
        <h2>My Skills</h2>
        <p>Have a look at my exciting projects which showcase some of my coding skills in different fields.</p>
    </div>
</section>