.skills-content {
  width: 100%;
  box-sizing: border-box;
  padding-inline: clamp(1.5625rem, -1.0156rem + 6.875vw, 5rem); /* 80px @1400 + 25px @350 - padding-left+right */
  padding-top: 120px;
  padding-bottom: 60px;
  background-color: #141D2F; /* Overwrites HTML-bg */

  @media (max-width: 1400px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

h2 {
  font-size: clamp(3.125rem, 2.0956rem + 4.7059vw, 5.625rem); /* 90px @1200 - 50px @350 */
  white-space: nowrap;
  position: relative;
  display: flex;
  align-items: center;
}

h2:after {
  content: "";
  height: 6px;
  width: clamp(11.25rem, 8.5417rem + 12.381vw, 19.375rem); /* 310px @1400 + 180px @350px */
  background: #1CE6B6;
  position: absolute;
  overflow-x: hidden;
  right: -200px; /* adapt to margin-right */
  top: 50%;
  transform: translateY(-50%);

  @media (max-width: 800px) {
    width: clamp(17.5rem, 2.9167rem + 66.6667vw, 36.25rem); /* 580px @800 + 280px @350px */
  }
}

.skills-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @media (max-width: 800px) {
    justify-content: center;
    display: flex;
    flex-direction: column-reverse;
    gap: 80px;
  }
}

.skills-box {
  width: calc(50% - 20px); /* 50% (2 columns) - gap */
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 800px) {
    width: calc(100%);
  }
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block; /* remove extra space below image */
}

.skills-right-box {
  width: 100%;
  position: relative;
}

button {
  width: 200px;
  margin-top: 30px;
  transition: all 225ms ease-in-out;

  &:hover {
    background-color: #4B47FF;
    transform: scale(1.2);
  }
}

.skills-left-box {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;

    img {
        height: 100px;
        cursor: pointer;
    }

    /* First row */
    .icon1 {
        grid-row: 1;
        grid-column: 1;
    }

    .icon2 {
        grid-row: 1;
        grid-column: 2;
    }

    .icon3 {
        grid-row: 1;
        grid-column: 3;
    }

    .icon4 {
        grid-row: 1;
        grid-column: 4;
    }

    /* Second row */
    .icon5 {
        grid-row: 2;
        grid-column: 1;
    }

    .icon6 {
        grid-row: 2;
        grid-column: 2;
    }

    .icon7 {
        grid-row: 2;
        grid-column: 3;
    }

    /* Third row */
    .icon8 {
        grid-row: 3;
        grid-column: 1;
    }

    .icon9 {
        grid-row: 3;
        grid-column: 2;
    }

    /* Fourth row */
    .icon10 {
        grid-row: 4;
        grid-column: 1;
    }
}
