.imprint-container {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 120px;
    width: 100%;

    @media (max-width: 930px) {
      padding-left: 50px;
      padding-right: 50px;
    }
}
