<div class="nav-container">
    <img routerLink="/" src="assets/img/logo.png">
    <nav class="mobile-hide active-link">
      <a href="#about" [class.active]="currentSection === 'about'" (click)="setActiveSection('about')">About</a>
      <a href="#skills" [class.active]="currentSection === 'skills'" (click)="setActiveSection('skills')">Skills</a>
      <a href="#projects" [class.active]="currentSection === 'projects'" (click)="setActiveSection('projects')">Projects</a>
    </nav>

    <div class="mobile-show">
      <button id="nav-icon" [class.open]="isNavOpen" (click)="toggleNav()">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <div id="mobileNav" class="overlay" [class.mobile-show]="isNavOpen">
      <div class="overlay-content">
        <a (click)="closeNav()" href="#about">About</a>
        <a (click)="closeNav()" href="#skills">Skills</a>
        <a (click)="closeNav()" href="#projects">Projects</a>
        <a (click)="closeNav()" href="#contact">Contact</a>
      </div>
    </div>
</div>
