.nav-container {
    /*position: sticky;
    left: 0;
    right: 0; 
    top: 0; */
    height: 80px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
    box-sizing: border-box;
    background-color: #141D2F; /* Overwrites HTML-bg */

    a {
        color: white;
        text-decoration: none;
        margin-left: 32px;
        font-weight: 500;

        &:hover {
            color: rgba(255, 255, 255, 0.8)
        }
    }

    img {
        height: 30px;
        cursor: pointer;
    }
}