
html, body {
    scroll-behavior: smooth;
    overflow-x: hidden !important;
}

html {
    background-color: #1e2b45;
}

body {
    margin: 0px;
    color: #FFFFFF;
    /*max-width: 1920px;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    user-select: none;

}

:root {
    --primary: #141D2F;
    --secondary: #4B47FF;
    --tertiary: #1CE6B6;
    --quarternary: #101623;
}

button {
    background-color: #00BEE8;
    color: #FFFFFF;
    height: 58px;
    font-weight: 400;
    font-size: 23px;
    padding: 15px, 30px, 15px, 30px;
    gap: 10px;
    border-radius: 10px;
    border: none;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.25);
    cursor: pointer;
}

* {
    font-family: 'Poppins', 'sans-serif'!important;
}
/* Choose custom font-family. Add !important to overwrite all elements. */

@font-face {
    font-family: 'Poppins';
    src: url(assets/fonts/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: 'Poppins-Black';
    src: url(assets/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins-BlackItalic';
    src: url(assets/fonts/Poppins/Poppins-BlackItalic.ttf);
}

@font-face {
    font-family: 'Poppins-Bold';
    src: url(assets/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins-BoldItalic';
    src: url(assets/fonts/Poppins/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraLight';
    src: url(assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: 'Poppins-ExtraLightItalic';
    src: url(assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf);
}

@font-face {
    font-family: 'Poppins-Italic';
    src: url(assets/fonts/Poppins/Poppins-Italic.ttf);
}

@font-face {
    font-family: 'Poppins-Light';
    src: url(assets/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Poppins-LightItalic';
    src: url(assets/fonts/Poppins/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url(assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins-MediumItalic';
    src: url(assets/fonts/Poppins/Poppins-MediumItalic.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBold';
    src: url(assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: 'Poppins-SemiBoldItalic';
    src: url(assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf);
}

@font-face {
    font-family: 'Poppins-Thin';
    src: url(assets/fonts/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: 'Poppins-ThinItalic';
    src: url(assets/fonts/Poppins/Poppins-ThinItalic.ttf);
}

/* Scrollbar CSS */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: #4B47FF;
    border-radius: 10px;
    border: 0.5px solid rgb(27, 25, 75);
}
